modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["git"]

[deployment]
deploymentTarget = "gce"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_stripe:1.0.0", "javascript_mem_db:1.0.0"]

[userenv]

[userenv.shared]
TESTING_VITE_STRIPE_PUBLIC_KEY = "pk_test_51SPSrH2FJbsdSIBmWhrlzq0kFpcitixTOQoLNisXU3tSDgDLLeTUYhA45h9eB7RJCYFV6Zb0xneKxuBoLzvvZxvD00LySwqc6v"
TESTING_STRIPE_SECRET_KEY = "sk_test_51SPSrH2FJbsdSIBmBNjsHdiquAkzDwVAi5q92Y3OE69vM2bebZdjcp1FR5T5t3YGHgev6wgWb5VyubSJLXVsJKCS00dubnI9f5"
TELNYX_PHONE_NUMBER = "+17028679664"
ADMIN_PHONE_NUMBERS = "+17027877722,+17754602666"
